.flex-container {
  display: flex;
}

.nav-option-js {
  background-color: white;
}

.skills {
  color: gray;
  text-shadow: .5px .5px 1px black;
}

.projectLink>a:hover {
  text-shadow: 2px 2px 3px gray;
}

.projectLink>a:visited {
  color: green;
}

button:focus {
  shadow: 3px 3px 6px green;
  outline: 0;
}

.projectLink>a {
  color: black;
}

li.nav-option-js>:focus {
  text-shadow: 3px 3px 6px blue;
}

li.nav-option-js:hover {
  text-shadow: 3px 3px 6px blue;
}

li.nav-option-js:active {
  text-shadow: 3px 3px 6px red;
}

button {
  background-color: white;
}

.contactLinkForm>button {
  border: none;
  padding: 0;
}

.ulNavNav>button {
  border: none;
  border-radius: 10px;
  padding: 1vw;
  height: 9vh;
  font-size: .8em;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

button:active, button:hover {
  outline: 0;
}

.ulNavNav {
  display: flex;
  flex-direction: row;
}

.noDisplay {
  display: none;
}

h2.Summary {
  text-shadow: 1px 1px 3px black;
}

.right.profPicRight {
  padding-top: 10%;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.nav-option-js {
  color: black;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

.mission-summary {
  overflow-y: scroll;
}

.leftProject>h1 {
  font-size: 1.5em;
}

.topProject {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  font-weight: bold;
}

.project {
  display: block;
  padding-bottom: 10vh;
}

.leftProject {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photoPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-top: 0px;
}

/* .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */
.photoPagePhoto {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.content {
  height: 90vh;
}

.contactLinkForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contactLink {
  display: flex;
}

.contactPhoto.email {
  height: 5vh;
  width: auto;
}

.contactPhoto.link {
  width: auto;
  height: 4vh;
  border-radius: 10px;
}

.contactPhoto.github {
  width: auto;
  height: 7vh;
  border-radius: 10px;
}

.contactPhotoContainer {
  height: 90vh;
}

img.largeContactPhoto {
  height: 100%;
  object-fit: scale-down;
}

img.contactPhoto {
  width: 10vw;
}

.contactPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: -5px;
  margin-bottom: -5px;
}

.photoBorder {
  height: 10vw;
}

.photoB {
  height: auto;
  object-fit: cover;
  /* border-radius: 5%; */
}

.main {
  width: 100vw;
  height: 90vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* position: absolute;
  top: 30%;
  height: 200px; */
}

.ulNavNav {
  padding-left: 0;
  height: 10vh;
}

.workImage {
  width: 15vw;
}

.workImage:hover {
  width: 60vw;
  height: auto;
}

.content {
  /* background-color: blue; */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  width: 60vw;
  height: auto;
  /* background-color: yellow; */
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
  overflow-y: scroll;
}

.contactPage>.left {
  width: 50vw;
}

.content.projects {
  max-height: 90vh;
  overflow-y: scroll;
}

.right {
  height: auto;
}

.profPic {
  width: 30vw;
  object-fit: fill;
  border-radius: 10px;
}

ul {
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 400px) {
  li.projectLink {
    font-size: 1.2em;
  }

  li.nav-option-js {
    font-size: 1.3em;
  }

  .ulNavNav>button {
    height: 1.5em;
  }

  .right {
    display: none;
  }

  .mission-summary {
    padding-left: 3vw;
  }

  .workImage {
    width: 50vw;
  }

  .workImage:hover {
    width: 60vw;
    height: auto;
  }

  .contactLinkForm {
    width: 100px;
    height: 33vh;
    display: flex;
    align-self: center;
  }

  .content.contactPage {
    width: 100vw;
  }

  .left {
    width: 90vw;
  }

  .photoPagePhoto {
    width: 20vw;
    height: 20vw;
  }

  .summaryNav {
    height: 30vw;
    display: flex;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
  }

  .profPic {
    display: none;
  }

  .main {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
  }

  .content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
  }

  .left {
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
  }

  .right {
    margin-left: auto;
    margin-right: auto;
  }

  .photoBorder {
    height: 25vw;
  }

  .photoB {
    width: 25vw;
    height: auto;
  }

  .photoB-4 {
    display: none;
  }

  .photoB-5 {
    display: none
  }

  .photoB-6 {
    display: none;
  }

  .photoB-7 {
    display: none;
  }

  .photoB-8 {
    display: none;
  }

  .photoB-9 {
    display: none;
  }
}

* {
  /* background-color: lightblue; */
}

@media screen and (min-width: 401px) {
  * {
    /* background-color: lightpink; */
  }

  .profPicRight {
    margin-bottom: 2vh;
  }

  .mission-summary {
    height: 80vh;
    margin-top: 2vh;
  }

  .left {
    height: auto;
  }

  .right {
    display: none;
  }

  .main {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
  }

  ul.projectUL {
    margin-top: 270px;
    padding-left: 0;
    font-size: 1.4em
  }

  .summaryNav {
    display: flex;
    /* background-color: blue; */
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
  }

  .main.mainProjects {
    flex-direction: column-reverse;
  }

  .mainProjects {
    width: 88vw;
  }

  .main {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .profPic {
    align-self: flex-start;
    margin-top: 100%;
    height: auto;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  .nav-option-js {
    list-style: none;
  }

  .profPic {
    width: 30vw;
  }

  .content.contactPage {
    flex-direction: row;
  }

  .content.flex-container {
    width: 90vw;
  }

  .content {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .left {
    margin-bottom: auto;
    /* background-color : red;*/
  }

  .photoBorder {
    height: 14.2857142857vw;
  }

  .photoB {
    width: 14.2857142857vw;
    height: auto;
  }

  .photoB-7 {
    display: none;
  }

  .photoB-8 {
    display: none;
  }

  .photoB-9 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  * {
    /* background-color: lightgreen; */
  }

  .ulNavNav {
    height: auto;
  }

  .ulNavNav>button {
    border: none;
    border-radius: 10px;
    height: 9vh;
    font-size: .85em;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
  }

  button:active, button:hover {
    outline: 0;
  }

  .ulNavNav {
    display: flex;
    flex-direction: column;
  }

  .content.flex-container {
    width: 80vw;
  }

  .navUL {
    width: 30vw;
  }

  .workImage:hover {
    width: 40vw;
    height: auto;
  }

  .main.mainProjects {
    flex-direction: row;
    width: 100vw;
    overflow-x: none;
  }

  .main {
    flex-direction: row;
    width: 100vw;
    overflow-x: none;
  }

  .projectDescription {
    width:
      80%;
  }

  .topProject {
    width: 60vw;
  }

  .mainProjects {
    width: 60vw;
  }

  .contactPhotoContainer {
    height: 90vh;
  }

  .nav-option-js {
    color: white;
    text-shadow: 3px 3px 6px black;
    font-size: 2.5em;
  }

  .right {
    display: none;
  }

  .main {
    justify-content: space-between;
  }

  .summaryNav {
    align-self: center;
    /* background-color: blue; */
    margin-left: auto;
    margin-right: auto;
  }

  .profPicRight {
    object-fit: contain;
    width: 35vw;
    height: 35vw;
  }

  .profPic {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    object-fit: contain;
    border-radius: 10px;
    opacity: .78;
  }

  .photoBorder {
    height: 10vw;
  }

  .photoB {
    width: 10vw;
    height: auto;
    display: flex;
  }
}

@media screen and (min-width: 1201px) {
  .main {
    height: 70vh;
    /* background-color: lightpurple; */
  }

  .content {
    height: 50vh;
  }

  .contactLinkForm {
    height: 50vh;
  }

  .content.projects {
    height: 70vh;
  }

  .left {
    height: 70vh;
  }
}